@import "../../../variables";

:host[app-g-button] button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  &:hover {
    background-color: darkblue;
  }
}

.container {
  border: unset;
  background: initial;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  background-color: $blue_p;
  border: 1px solid $blue_p;
  color: $white_p;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 18px;
}

.container:hover {
  border: 1px solid $blue_p;
  background-color: $white_p;
  color: $blue_p;
}

.confirm {
  border-radius: 22px;
}

.deny {
  background-color: $red;
  border-color: $red;
}

.deny:hover {
  border: 1px solid $red;
  background-color: $white_p;
  color: $red;
}

.with-icon {
  background-color: $green_p;
  border-color: $green_p;
}
