$blue_p: #1eb4e9;
$blue_s: #bbe8f8;
$blue_t: #2a98c2;
$blue_f: hwb(196 73% 3%);
$yellow_p: #fff0d2;
$yellow_s: #9b8930;
$purple_p: #ddcfe8;
$purple_s: #7660b4;
$purple_t: hsla(256, 100%, 91%, 0.3);
$green_p: #c3ecca;
$green_s: #2f7468;
$green_t: hsla(170, 78%, 66%, 0.3);
$grey_p: #dedede;
$grey_s: #bbbbbb;
$black_p: black;
$white_p: white;
$red: #f66f6f;
$shadow_p: rgba(0, 0, 0, 0.16);
