<p>home works!</p>
<router-outlet></router-outlet>
<h1>H1:</h1>
<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
  accusamus optio? Ipsa natus voluptas, et nam, illum quis deleniti voluptatum
  dolor ut esse commodi dolores labore, numquam sapiente odio perspiciatis!
</h1>
<br />
<h1>H2:</h1>
<h2>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
  accusamus optio? Ipsa natus voluptas, et nam, illum quis deleniti voluptatum
  dolor ut esse commodi dolores labore, numquam sapiente odio perspiciatis!
</h2>
<br />
<h1>H3:</h1>
<h3>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
  accusamus optio? Ipsa natus voluptas, et nam, illum quis deleniti voluptatum
  dolor ut esse commodi dolores labore, numquam sapiente odio perspiciatis!
</h3>
<br />
<h1>H4:</h1>
<h4>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
  accusamus optio? Ipsa natus voluptas, et nam, illum quis deleniti voluptatum
  dolor ut esse commodi dolores labore, numquam sapiente odio perspiciatis!
</h4>
